In [2]:
import altair as alt
import pandas as pd

**Kaggle source**:  https://www.kaggle.com/datasets/motsimaslam/national-rail-uk-train-ticket-data

In [3]:
df = pd.read_csv("railway.csv")

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31653 entries, 0 to 31652
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Transaction ID       31653 non-null  object
 1   Date of Purchase     31653 non-null  object
 2   Time of Purchase     31653 non-null  object
 3   Purchase Type        31653 non-null  object
 4   Payment Method       31653 non-null  object
 5   Railcard             10735 non-null  object
 6   Ticket Class         31653 non-null  object
 7   Ticket Type          31653 non-null  object
 8   Price                31653 non-null  int64
 9   Departure Station    31653 non-null  object
 10  Arrival Destination  31653 non-null  object
 11  Date of Journey      31653 non-null  object
 12  Departure Time       31653 non-null  object
 13  Arrival Time         31653 non-null  object
 14  Actual Arrival Time  29773 non-null  object
 15  Journey Status       31653 non-null  object
 16  Reason for Delay     4172 non-null   object
 17  Refund Request       31653 non-null  object
dtypes: int64(1), object(17)
memory usage: 4.3+ MB

**Visual task**:

   We want to have a summary dashboard that allow us to see the distribution of ticket prices along with 
   information about distribution of different categories like *Purchase type, Ticket class and Ticket type*.
   We want to build a dashboard that allows us to see statistics for any route.

https://www.youtube.com/watch?v=pWxDxhWXJos

In [13]:
df.groupby("Ticket Class")["Price"].mean()

Ticket Class
First Class    48.855134
Standard       20.721175
Name: Price, dtype: float64

In [6]:
df.columns

Index(['Transaction ID', 'Date of Purchase', 'Time of Purchase',
       'Purchase Type', 'Payment Method', 'Railcard', 'Ticket Class',
       'Ticket Type', 'Price', 'Departure Station', 'Arrival Destination',
       'Date of Journey', 'Departure Time', 'Arrival Time',
       'Actual Arrival Time', 'Journey Status', 'Reason for Delay',
       'Refund Request'],
      dtype='object')

## TODO
1) Make 1-2 more low-fidelity prototype
2) Filter Destinations with very low number of trips. Leave only most popular
3) Describe dataset in details and describe the goals